@media screen and (max-width : 1250px)  {

    nav{
        flex-direction: column;
    }

    .logo{
        margin: 12px 0px;
        justify-content: center;
    }

    nav ul{
        justify-content: center;
        align-items: center;
    }

    .search{
        justify-content: center;
    }

    .search input{
        margin: 12px 16px;
    }

    .btn{
        justify-content: center;
    }

    .account{
        padding: 0px 23px 0px 23px;
    }

    nav ul{
        height: 34px;
    }

    .slider img{
        height: 23vh;
    }

    .card-item img{
        width: 100px;
        height: 100px;
    }
    
}